body {
    background-image: url("https://images.unsplash.com/photo-1521162642252-ff1160e1a962?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2009&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
}