/* TODO: FIX WEIRD SPACING WITH NAVBAR */

html {
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    font-weight: 400;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.43;
    color: #252525;
    background-color: #fff;
    margin: 0;
    font-weight: 400;
    height: 100%;
}

a {
    color: #aeafd9;
}

footer {
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #252525;
    text-align: center;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 10px 15px;
}

.normal-text {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.normal-text h2 {
    margin-top: 1em;
    padding-top: 1em;
}

.background-plane {
    background-image: url("assets/bgplane.jpg");
    height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.topnav {
    margin-bottom: -5px !important;
}

.topnav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    margin: 19px 21px;
    text-decoration: none;
    transition: color 0.2s;
}

.topnav-off ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav-off li a {
    display: block;
    color: #252525;
    text-align: center;
    margin: 19px 21px;
    text-decoration: none;
    transition: color 0.2s;
}

li a:hover {
    color: #ebeceeec
}

.topnav-off li a:hover {
    color: rgb(139, 138, 138);
}

ul li:first-child {
    margin-right: auto;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-text {
    padding-left: 15px;
    font-weight: 500;
    color: rgb(207, 140, 160);
}

.motto {
    color: #fff;
    margin: 28px 70px;
}

.motto h1 {
    font-size: 36px;
    padding-top: 2em;
    font-weight: 600;
}

.title-about {
    color: #252525 !important;
    max-width: 55rem;
    margin: auto;
    line-height: 1.5;
    padding: 4em 1em;
    font-size: 18px;
    font-weight: 400;
}

.title-about h2 {
    font-weight: 525;
    font-size: 28px;
    margin-top: 1em;
    padding-top: 1em;
    font-weight: 500;
}

.underline-1 {
    text-decoration: underline solid #D3C1CD;
}

.underline-2 {
    text-decoration: underline solid #c699a6;
}

.underline-3 {
    text-decoration: underline solid #86505d;
}

.interested {
    text-align: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.interested p {
    padding-left: 50px;
}

.interested-heading {
    margin-bottom: -30px;
}

.often {
    text-align: center;
}

.about-text {
    color: #252525 !important;
    max-width: 60rem;
    margin: auto;
    line-height: 1.5;
    padding: 4em 1em;
    font-size: 20px;
    font-weight: 550;
}

.about-text h2 {
    font-size: 30px;
    margin-top: 1em;
    padding-top: 1em;
}

.arrow-container {
    text-align: center;
}

.btn-animate {
    display: inline-block;
    border-radius: 4px;
    background-color: #86505d;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 14px;
    width: 120px;
    transition: all 0.2s;
    cursor: pointer;
    margin: 5px;
}

.btn-animate span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.btn-animate span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}

.btn-animate:hover span {
    padding-right: 25px;
}

.btn-animate:hover span:after {
    opacity: 1;
    right: 0;
}

.focus {
    font-weight: 600;
    text-decoration: underline solid #c699a6 !important;
}

.flight-to {
    width: 30px;
}

.flight-table {
    padding-bottom: 7.5vw;
}

.flight-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 0;
    font-size: 18px;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0px;
}

.airport-text {
    color: #7c7b7b;
    font-weight: normal;
}

.date {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
}

.length {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    font-weight: bold;
}

.card-btn {
    flex: 1 1 0px;
}

.select-flight-btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #aeafd9;
    /* margin: 0 0.3em 0.3em 0; */
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #aeafd9;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.select-flight-btn:hover {
    color: #000000;
    background-color: #aeafd9;
}

.price {
    flex: 1 1 0px;
    font-weight: bold;
    color: green;
}

.sold {
    flex: 1 1 0px;
    font-weight: 400;
    color: #252525;
    text-decoration: line-through;
}

.time {
    font-weight: bold;
}

.book-heading {
    color: #fff;
    max-width: 38rem;
    margin: 0 auto;
    line-height: 1.5;
    padding: 4em 1em;
    text-align: center;
}

.book-heading h2 {
    font-size: 30px;
    font-weight: 500;
    text-decoration: solid underline #D3C1CD;
}

.book-heading p {
    font-size: 18px;
    font-weight: 400;
}

.book-heading img {
    text-align: center;
    margin: 0 auto;
}

.about-background {
    background-image: url("assets/seattle.jpg");
    height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.frequent-background {
    background-image: url("assets/horizon-bg.jpg");
    height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.apply-background {
    background-image: url("assets/apply-bg.jpg");
    height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.about-us-title {
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.who {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.who-about {
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;
}

.who-about h2 {
    font-weight: 400;
}

.who-about img {
    padding: 1em 2em;
}

.where-about {
    /* float: right; */
    text-align: right;
    margin-bottom: 3em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.mission-about {
    text-align: center;
}

.frequent-title {
    color: white;
    text-align: center;
    font-size: 18px;
    padding-top: 20vh;
}

.benefit-frequent h2 {
    text-decoration: underline solid #c699a6;
}

.testimonial-frequent h2 {
    text-decoration: underline solid #5960c7;
}

.container {
    padding: 16px;
    max-width: 38em;
    margin: 0 auto;
}

/* LOGIN PAGE STUFF */

.login-background {
    background-image: url("./assets/login-bg.jpg");
    height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.login-forms {
    display: flex;
    justify-content: space-around;
}

#login-title {
    text-align: center;
    margin-top: 10vw;
    color: white;
    font-size: 30px;
}

#login-arrow {
    margin-top: 10vw;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.footer-icon {
    float: left;
    align-self: flex-start;
    margin-right: auto;
}

.testimonial {
    font-style: italic;
}

.airline-underline {
    text-decoration: underline;
}

.float-left {
    float: left;
    font-size: 18px;
    font-weight: 500;
}

.underline {
    text-decoration: underline;
}

.map-card {
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    padding: 20px 20px;
    /* 5px rounded corners */
}

.map-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.map-card h3 {
    font-weight: 500;
    margin-top: 0px;
    font-size: 28px;
}

.come-from {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}

#added-text {
    font-weight: 100;
    font-style: italic;
    font-size: 30px;
}

#email-contact {
    padding-bottom: 50vh;
}

#navHR {
    opacity: 0.5;
    border-top: solid;
    border-color: #fff;
    border-width: 1px;
    margin-right: 19px;
    margin-left: 19px;
    margin-top: -15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#navHR-off {
    opacity: 0.5;
    border-top: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    margin-right: 19px;
    margin-left: 19px;
    margin-top: -15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#down-arrow {
    padding-top: 50px;
    width: 15px;
    height: auto;
    display: inline-block;
    z-index: 100;
}

#about-title {
    margin: 0 auto;
    text-align: center;
    margin-top: 10vw;
    color: #fff;
    font-size: 30px;
}

#what-frequent {
    padding-bottom: 10vh;
}

#frequent-heading {
    text-align: left;
    font-weight: 400;
    text-decoration: underline solid #c699a6;
}

#benefit-heading {
    text-align: right;
    font-weight: 400;
    text-decoration: underline solid #D3C1CD;
}

#apply-title {
    text-align: center;
    margin-top: 10vw;
    color: white;
    font-size: 30px;
}

#apply-arrow {
    margin-top: 10vw;
}

#core-values {
    font-weight: 400;
    text-decoration: underline solid #86505d;
}

#testimonial-heading {
    text-decoration: underline solid #5960c7;
    font-weight: 400;
    text-align: center;
}

#length-heading {
    font-weight: normal;
}

#price-heading {
    color: #252525;
    font-weight: normal;
}

#who {
    margin-bottom: -30px;
}

@media screen and (max-width: 600px) {
    footer {
        font-size: 9px;
    }
    .logo {
        display: none;
    }
    .topnav li a {
        font-size: 12px;
        margin: 20px 11px;
    }
    .topnav-off li a {
        font-size: 12px;
        margin: 20px 11px;
    }
    .flight-card {
        font-size: 11px;
        padding: 10px auto;
        width: 100vw !important;
    }
    .who-about {
        display: block;
        max-width: 30em;
    }
    .who-about img {
        padding: 1em 2em;
        width: 300px;
        height: auto;
    }
    .footer-icon {
        width: 10px;
    }
    .who {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .who img {
        width: 210px;
    }
    .interested {
        display: flex;
        flex-direction: column-reverse;
        align-items: center
    }
    .interested img {
        width: 210px;
    }
    .often img {
        width: 210px;
    }
    .price {
        margin-left: 14px;
    }
    .sold {
        margin-left: 14px;
    }
    .map-card img {
        width: 310px;
    }
    .where-about {
    flex-direction: column;
    }
    .where-about img {
        height: 125px;
    }
    .interested-heading {
        margin-bottom: 0px;
    }
    #who {
        margin-bottom: 0px;
    }
}
/*  */ 